<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/send_data"
        android:label="@string/app_name"
        android:roundIcon="@drawable/send_data"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmsByteArray"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".SMSReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />
                <data android:port="8901"/>
                <data android:scheme="sms"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>